// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.edit-heading {
  margin: 20px;
  font-size: @component-icon-size;
}

.edit-add {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.element-panel {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2px;
  display: flex;
}

select {
  flex-grow: 1;
}

input[type=text], select {
  margin-left: 10px;
  background-color: @input-background-color;
  border-color: @input-border-color;
  font-size: @input-font-size;
  padding: 2px;
}

.drag-wrapper {
  margin-top: auto;

  &:hover {
    cursor: -webkit-grab;
  }

  > div {
    width: 20px;
    height: 3px;
    background-color: @text-color;
    margin: 3px 0;
    border-radius: 15px;
  }
}

.label {
  flex-grow: 2;
}
.command {
  flex-grow: 4;
}
.color {
  flex-grow: 1;
}

.remove {
  margin-left: 10px;
}

.remove:hover, .edit-add:hover, .drag-wrapper:hover {
  color: lighten(@text-color, 50%);
}
